.add
    &_block
        display: flex
        justify-content: space-between
        margin-top: 100px
    &_content
        display: flex
        padding: 102px 122px 102px 114px
        background: #D42432
        border-radius: 15px
        align-items: center
        h4
            font-weight: 400
            font-size: 35px
            line-height: 47px
            color: #fff
        a
            padding: 12px 34px
            background-color: #fff
            color: #000
            border-radius: 10px
            margin-left: 242px
