.book
    &_info
        display: flex
        justify-content: space-between
    &_content
        display: flex
        align-items: center
        justify-content: space-between
    &_text
        width: calc( 50% - 100px )
        h2
            font-weight: 600
            font-size: 60px
            line-height: 80px
            text-transform: capitalize
            color: #000000
        p
            font-weight: 400
            font-size: 18px
            line-height: 34px
            text-transform: capitalize
            color: #000000
            margin-bottom: 40px
    
    &_item
        img
            width: 100%
    &_name
        font-size: 18px
        line-height: 34pxr
        margin-right: 10px
        padding: 15px 
        background-color:#D42432CC
        border: none
        outline: none
        border-radius: 5px        
        color: #ffffff
        margin-bottom: 20px
    &_submit
        padding: 5px 15px 
        background-color: #BA323D
        color: #fff
        border-radius: 10px
    &_inputdate
        background-color:#D42432CC
        padding: 15px
        // position: absolute
        // transform: translate(-50%,-50%)
        // top: 50%
        // left: 50%
        font-family: "Roboto Mono",monospace
        color: #ffffff
        font-size: 18px
        border: none
        outline: none
        border-radius: 5px        
        margin-right: 10px
    &_timer
        font-size: 18px
        padding: 15px
        background-color:#D42432CC
        border: none
        outline: none
        border-radius: 5px        
        color: #ffffff
        margin-right: 10px
    &_request
        margin-top: 20px
        font-size: 18px
        padding: 15px
        background-color:#D42432CC
        border: none
        outline: none
        border-radius: 5px        
        color: #ffffff


