* {
  font-family: Playfair Display, Open Sans, Inter, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  font-family: Inter;
}

p {
  font-family: Open Sans;
}

button {
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

.container {
  width: 1220px;
  margin: 0 auto;
}

@media screen and (max-width: 1300px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
}
.header {
  padding: 20px 0 20px 0;
  margin-bottom: 138px;
}
@media screen and (max-width: 768px) {
  .header {
    margin-bottom: 30px;
  }
}
.header_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .header_menu {
    display: none;
  }
}
.header_menu.active {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header_menu.active ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header_menu.active li {
  margin-right: 0;
  margin-bottom: 20px;
}
.header_menu.active a {
  color: #fff;
}
.header_menu.active li {
  margin: 0px 0px 20px 0px;
}
.header_menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header_menu ul li {
  margin-left: 30px;
}
.header_button {
  padding: 4px 23px 5px 23px;
  background-color: #BA323D;
  color: #fff;
  border-radius: 15px;
}
.header_button a {
  color: #fff;
}
.header_item a {
  color: #000000;
}

.hamburger {
  display: none;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }
}

.main_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main_image {
  width: 50%;
  margin-bottom: 100px;
}
.main_image img {
  width: 100%;
}
@media screen and (max-width: 576px) {
  .main_image {
    margin-bottom: 40px;
  }
}
.main_text {
  width: calc(50% - 103px);
  margin-top: 45px;
}
@media screen and (max-width: 768px) {
  .main_text {
    margin-top: 0px;
    margin-bottom: 10px;
  }
}
.main_text h2 {
  font-weight: 600;
  font-size: 75px;
  line-height: 78px;
  color: #000000;
  margin-bottom: 16px;
}
@media screen and (max-width: 768px) {
  .main_text h2 {
    font-size: 30px;
    line-height: 30px;
  }
}
@media screen and (max-width: 576px) {
  .main_text {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: calc(50% - 40px);
  }
  .main_text h2 {
    font-size: 20px;
    line-height: 30px;
  }
}
.main_text p {
  font-weight: 400;
  font-size: 18px;
  line-height: 37px;
  color: #000000;
}
@media screen and (max-width: 768px) {
  .main_text p {
    font-size: 14px;
    line-height: 20px;
  }
}
@media screen and (max-width: 576px) {
  .main_text p {
    font-size: 10px;
  }
}
.main_buttons {
  margin-top: 40px;
}
@media screen and (max-width: 995px) {
  .main_buttons {
    margin-left: 0px;
  }
}
.main_item {
  padding: 10px 40px;
  background-color: #BA323D;
  color: #fff;
  border-radius: 15px;
  margin-right: 11px;
}
@media screen and (max-width: 995px) {
  .main_item {
    width: 50%;
    margin-bottom: 10px;
    margin-right: 0px;
    padding: 10px 20px;
  }
}
@media screen and (max-width: 768px) {
  .main_item {
    display: none;
  }
}

.features_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 31px;
  font-size: 45px;
  line-height: 60px;
  color: #000000;
}
@media screen and (max-width: 576px) {
  .features_title {
    font-size: 20px;
    margin-bottom: 12px;
    line-height: 20px;
  }
}
.features_content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 32px 1fr 32px 1fr;
  grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
          column-gap: 32px;
  row-gap: 32px;
  text-align: center;
}
@media screen and (max-width: 995px) {
  .features_content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 0 1fr;
    grid-template-columns: repeat(2, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0;
  }
}
@media screen and (max-width: 768px) {
  .features_content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}
.features_item img {
  margin-bottom: 19px;
}
.features_item p {
  font-size: 15px;
  text-align: center;
  margin-top: 20px;
}
@media screen and (max-width: 995px) {
  .features_item p {
    display: none;
  }
}
.features_button {
  padding: 4px 39px;
  background-color: #BA323D;
  color: #fff;
  border-radius: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 995px) {
  .features_button {
    display: none;
  }
}

.footer_block {
  margin-top: 100px;
}

.add_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}
.add_block a {
  padding: 12px 34px;
  background-color: #BA323D;
  color: #fff;
  border-radius: 10px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.signIn_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.signIn_image {
  margin-left: 20px;
}
.signIn_image img {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .signIn_image {
    display: none;
  }
}
.signIn_text {
  margin-top: 100px;
  width: calc(50% - 90px);
}
.signIn_text p {
  margin-bottom: 26px;
}
@media screen and (max-width: 768px) {
  .signIn_text {
    width: 100%;
    margin-top: 0px;
  }
}
.signIn_heading {
  font-size: 50px;
  line-height: 67px;
}
.signIn_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 220px;
}
.signIn_form input {
  text-align: center;
  padding: 10px 0 10px 0;
  margin-bottom: 20px;
}
.signIn_B1 {
  padding: 9px 30px;
  background: #BA323D;
  color: #fff;
  border-radius: 15px;
}
.signIn_B2 {
  color: #000;
  margin-left: 20px;
}

.form {
  background-image: url("../images/formbg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-position: center 0;
}
.form_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.form_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.form_header {
  position: fixed;
  width: 100%;
  margin-top: 20px;
}
.form_headcontent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.form_headcontent li {
  margin-left: 30px;
}
.form_item a {
  color: #000000;
}
.form_block {
  width: 400px;
  padding: 62px 70px 132px 68px;
  background-color: rgba(212, 36, 50, 0.8);
  border-radius: 10px;
}
.form_block h2 {
  color: #fff;
  text-align: center;
  font-weight: 400;
  margin-bottom: 44px;
}
.form_block input {
  padding: 20px 90px 20px 20px;
  margin-bottom: 40px;
  opacity: 70%;
  border-radius: 10px;
}
@media screen and (max-width: 576px) {
  .form_block input {
    padding: 20px 36px 20px 20px;
  }
}
.form_button1 {
  display: none;
}
.form_photo {
  padding: 19px 75px;
  background-color: rgba(209, 188, 190, 0.631372549);
  color: #fff;
  border-radius: 15px;
}
@media screen and (max-width: 576px) {
  .form_photo {
    padding: 19px 48px;
  }
}
.form_buttons {
  margin-top: 40px;
  padding: 19px 75px;
  color: #fff;
  border-radius: 15px;
  background-color: rgba(209, 188, 190, 0.631372549);
  text-align: center;
}
@media screen and (max-width: 576px) {
  .form_buttons {
    padding: 19px 48px;
  }
}
.form_buttons a {
  color: #fff;
}

.book_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.book_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.book_text {
  width: calc(50% - 100px);
}
.book_text h2 {
  font-weight: 600;
  font-size: 60px;
  line-height: 80px;
  text-transform: capitalize;
  color: #000000;
}
.book_text p {
  font-weight: 400;
  font-size: 18px;
  line-height: 34px;
  text-transform: capitalize;
  color: #000000;
  margin-bottom: 40px;
}
.book_item img {
  width: 100%;
}
.book_name {
  font-size: 18px;
  line-height: 34pxr;
  margin-right: 10px;
  padding: 15px;
  background-color: rgba(212, 36, 50, 0.8);
  border: none;
  outline: none;
  border-radius: 5px;
  color: #ffffff;
  margin-bottom: 20px;
}
.book_submit {
  padding: 5px 15px;
  background-color: #BA323D;
  color: #fff;
  border-radius: 10px;
}
.book_inputdate {
  background-color: rgba(212, 36, 50, 0.8);
  padding: 15px;
  font-family: "Roboto Mono", monospace;
  color: #ffffff;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 5px;
  margin-right: 10px;
}
.book_timer {
  font-size: 18px;
  padding: 15px;
  background-color: rgba(212, 36, 50, 0.8);
  border: none;
  outline: none;
  border-radius: 5px;
  color: #ffffff;
  margin-right: 10px;
}
.book_request {
  margin-top: 20px;
  font-size: 18px;
  padding: 15px;
  background-color: rgba(212, 36, 50, 0.8);
  border: none;
  outline: none;
  border-radius: 5px;
  color: #ffffff;
}